server:
  port: ${ADMIN_SERVER_PORT:9095}
  servlet:
    context-path: /
  compression:
    enabled: true
    min-response-size: 1024

spring:
  application:
    name: admin-server
  boot:
    admin:
      ui:
        title: Spring Boot Admin
      monitor:
        status-interval: 10000
        status-lifetime: 10000
        default-timeout: 5000

# Actuator 配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  info:
    java:
      enabled: true
    os:
      enabled: true
