server:
  port: ${ADMIN_SERVER_PORT:9095}
  servlet:
    context-path: /
  compression:
    enabled: true
    min-response-size: 1024

spring:
  application:
    name: admin-server
  boot:
    admin:
      ui:
        title: Spring Boot Admin

# Actuator 配置
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
