### nestjs-logs

# compiled output
nestjs/nestjs-logs/dist
nestjs/nestjs-logs/node_modules
nestjs/nestjs-logs/build
nestjs/nestjs-logs/files

# Logs
nestjs/nestjs-logs/logs
nestjs/nestjs-logs/*.log
nestjs/nestjs-logs/npm-debug.log*
nestjs/nestjs-logs/pnpm-debug.log*
nestjs/nestjs-logs/yarn-debug.log*
nestjs/nestjs-logs/yarn-error.log*
nestjs/nestjs-logs/lerna-debug.log*

# OS
nestjs/nestjs-logs/.DS_Store

# Tests
nestjs/nestjs-logs/coverage
nestjs/nestjs-logs/.nyc_output

# IDEs and editors
nestjs/nestjs-logs/.idea
nestjs/nestjs-logs/.project
nestjs/nestjs-logs/.classpath
nestjs/nestjs-logs/.c9/
nestjs/nestjs-logs/*.launch
nestjs/nestjs-logs/.settings/
nestjs/nestjs-logs/*.sublime-workspace

# IDE - VSCode
nestjs/nestjs-logs/.vscode/*
!nestjs/nestjs-logs/.vscode/settings.json
!nestjs/nestjs-logs/.vscode/tasks.json
!nestjs/nestjs-logs/.vscode/launch.json
!nestjs/nestjs-logs/.vscode/extensions.json

# dotenv environment variable files
nestjs/nestjs-logs/.env
nestjs/nestjs-logs/.env.development.local
nestjs/nestjs-logs/.env.test.local
nestjs/nestjs-logs/.env.production.local
nestjs/nestjs-logs/.env.local

# temp directory
nestjs/nestjs-logs/.temp
nestjs/nestjs-logs/.tmp

# Runtime data
nestjs/nestjs-logs/pids
nestjs/nestjs-logs/*.pid
nestjs/nestjs-logs/*.seed
nestjs/nestjs-logs/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
nestjs/nestjs-logs/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

### nestjs-download

# compiled output
nestjs/nestjs-download/dist
nestjs/nestjs-download/node_modules
nestjs/nestjs-download/build
nestjs/nestjs-download/files

# Logs
nestjs/nestjs-download/logs
nestjs/nestjs-download/*.log
nestjs/nestjs-download/npm-debug.log*
nestjs/nestjs-download/pnpm-debug.log*
nestjs/nestjs-download/yarn-debug.log*
nestjs/nestjs-download/yarn-error.log*
nestjs/nestjs-download/lerna-debug.log*

# OS
nestjs/nestjs-download/.DS_Store

# Tests
nestjs/nestjs-download/coverage
nestjs/nestjs-download/.nyc_output

# IDEs and editors
nestjs/nestjs-download/.idea
nestjs/nestjs-download/.project
nestjs/nestjs-download/.classpath
nestjs/nestjs-download/.c9/
nestjs/nestjs-download/*.launch
nestjs/nestjs-download/.settings/
nestjs/nestjs-download/*.sublime-workspace

# IDE - VSCode
nestjs/nestjs-download/.vscode/*
!nestjs/nestjs-download/.vscode/settings.json
!nestjs/nestjs-download/.vscode/tasks.json
!nestjs/nestjs-download/.vscode/launch.json
!nestjs/nestjs-download/.vscode/extensions.json

# dotenv environment variable files
nestjs/nestjs-download/.env
nestjs/nestjs-download/.env.development.local
nestjs/nestjs-download/.env.test.local
nestjs/nestjs-download/.env.production.local
nestjs/nestjs-download/.env.local

# temp directory
nestjs/nestjs-download/.temp
nestjs/nestjs-download/.tmp

# Runtime data
nestjs/nestjs-download/pids
nestjs/nestjs-download/*.pid
nestjs/nestjs-download/*.seed
nestjs/nestjs-download/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
nestjs/nestjs-download/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# 忽略所有 .class 文件
*.class


### gin-search

# Go binaries
gin/gin-search/bin/
gin/gin-search/*.exe
gin/gin-search/*.exe~
gin/gin-search/*.dll
gin/gin-search/*.so
gin/gin-search/*.dylib

# Vendor directory
gin/gin-search/vendor/

# Compiled object files and binaries
gin/gin-search/*.a
gin/gin-search/*.o
gin/gin-search/*.out

# Logs
gin/gin-search/logs/
gin/gin-search/*.log
gin/gin-search/nacos/log/*.log
gin/gin-search/nacos/log/**
gin/gin-search/nacos/

# Swagger
gin/gin-search/docs/

# Test binaries
gin/gin-search/*.test

# Coverage and profiling
gin/gin-search/coverage.out
gin/gin-search/profile.out

# IDE/editor settings
gin/gin-search/.idea/
gin/gin-search/.vscode/
gin/gin-search/*.swp

# Environment files
gin/gin-search/.env
gin/gin-search/.env.*

# Temporary files
gin/gin-search/tmp/
gin/gin-search/temp/
gin/gin-search/.DS_Store

# Git merge/diff tools
gin/gin-search/*.orig

### gin-chat

# Go binaries
gin/gin-chat/bin/
gin/gin-chat/*.exe
gin/gin-chat/*.exe~
gin/gin-chat/*.dll
gin/gin-chat/*.so
gin/gin-chat/*.dylib

# Vendor directory
gin/gin-chat/vendor/

# Compiled object files and binaries
gin/gin-chat/*.a
gin/gin-chat/*.o
gin/gin-chat/*.out

# Logs
gin/gin-chat/logs/
gin/gin-chat/*.log
gin/gin-chat/nacos/log/*.log
gin/gin-chat/nacos/log/**
gin/gin-chat/nacos/

# Swagger
gin/gin-chat/docs/

# Test binaries
gin/gin-chat/*.test

# Coverage and profiling
gin/gin-chat/coverage.out
gin/gin-chat/profile.out

# IDE/editor settings
gin/gin-chat/.idea/
gin/gin-chat/.vscode/
gin/gin-chat/*.swp

# Environment files
gin/gin-chat/.env
gin/gin-chat/.env.*

# Temporary files
gin/gin-chat/tmp/
gin/gin-chat/temp/
gin/gin-chat/.DS_Store

# Git merge/diff tools
gin/gin-chat/*.orig

### spring-article

# 忽略项目中的 Maven 构建输出目录
spring/spring-article/target/

# 忽略项目中的 IntelliJ IDEA 配置文件
spring/spring-article/.idea/
spring/spring-article/.mvn/
spring/spring-article/*.iml

# 忽略编译后的 class 文件
spring/spring-article/*.class

# 忽略测试类
spring/spring-article/*Test.java

# 忽略 test 目录
spring/spring-article/src/test/

# VSCode
spring/spring-article/.vscode/

spring/spring-article/bin/

### spring-user

# 忽略项目中的 Maven 构建输出目录
spring/spring-user/target/

# 忽略项目中的 IntelliJ IDEA 配置文件
spring/spring-user/.idea/
spring/spring-user/.mvn/
spring/spring-user/*.iml

# 忽略编译后的 class 文件
spring/spring-user/*.class

# 忽略测试类
spring/spring-user/*Test.java

# 忽略 test 目录
spring/spring-user/src/test/

# VSCode
spring/spring-user/.vscode/

spring/spring-user/bin/

### spring-category

# 忽略项目中的 Maven 构建输出目录
spring/spring-category/target/

# 忽略项目中的 IntelliJ IDEA 配置文件
spring/spring-category/.idea/
spring/spring-category/.mvn/
spring/spring-category/*.iml

# 忽略编译后的 class 文件
spring/spring-category/*.class

# 忽略测试类
spring/spring-category/*Test.java

# 忽略 test 目录
spring/spring-category/src/test/

# VSCode
spring/spring-category/.vscode/

spring/spring-category/bin/

### spring-comments

# 忽略项目中的 Maven 构建输出目录
spring/spring-comments/target/

# 忽略项目中的 IntelliJ IDEA 配置文件
spring/spring-comments/.idea/
spring/spring-comments/.mvn/
spring/spring-comments/*.iml

# 忽略编译后的 class 文件
spring/spring-comments/*.class

# 忽略测试类
spring/spring-comments/*Test.java

# 忽略 test 目录
spring/spring-comments/src/test/

# VSCode
spring/spring-comments/.vscode/

spring/spring-comments/bin/

### gateway

# 忽略项目中的 Maven 构建输出目录
spring/spring-gateway/target/

# 忽略项目中的 IntelliJ IDEA 配置文件
spring/spring-gateway/.idea/
spring/spring-gateway/.mvn/
spring/spring-gateway/*.iml

# 忽略编译后的 class 文件
spring/spring-gateway/*.class

# 忽略测试类
spring/spring-gateway/*Test.java

# 忽略 test 目录
spring/spring-gateway/src/test/

# VSCode
spring/spring-gateway/.vscode/

### FastAPI
fastapi/fastapi-data/**/__pycache__/
fastapi/fastapi-data/**/*.pyc
fastapi/fastapi-data/pic/
fastapi/fastapi-data/static/
fastapi/fastapi-data/application-secret.yaml
fastapi/fastapi-data/venv/

fastapi/fastapi-ai/**/__pycache__/
fastapi/fastapi-ai/**/*.pyc
fastapi/fastapi-ai/pic/
fastapi/fastapi-ai/static/
fastapi/fastapi-ai/application-secret.yaml
fastapi/fastapi-ai/venv/

.vscode/
bfg-1.14.0.jar


static/
logs/

### Root IDEA
.idea/
*.iml
*.iws
*.ipr

### 配置文件
**/*.yaml
**/*.yml

ssh.sh
ssh.bat
ssh_remote.bat