# Gateway 服务配置
SERVER_MODE=dev
SERVER_PORT=8080

# Nacos 配置
NACOS_SERVER=127.0.0.1:8848
NACOS_NAMESPACE=public
NACOS_GROUP_NAME=DEFAULT_GROUP

# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
# REDIS_USERNAME=
# REDIS_PASSWORD=
REDIS_TIMEOUT=3000

# GoZero 服务配置（长连接特殊配置）
GOZERO_HOST=localhost
GOZERO_PORT=8082

# JWT 配置
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=86400000

# 限流配置
RATE_LIMIT_ENABLED=true

# 上传文件限流配置
RATE_LIMIT_UPLOAD_CAPACITY=20
RATE_LIMIT_UPLOAD_REFILL_RATE=2

# 发送验证码限流配置
RATE_LIMIT_SEND_CODE_CAPACITY=10
RATE_LIMIT_SEND_CODE_REFILL_RATE=1
