# NestJS 服务配置
SERVER_IP=127.0.0.1
SERVER_MODE=dev
SERVER_PORT=8083
SERVER_SERVICE_NAME=nestjs

# Nacos 配置
NACOS_SERVER=127.0.0.1
NACOS_PORT=8848
NACOS_NAMESPACE=public
NACOS_CLUSTER_NAME=DEFAULT

# MySQL 配置
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_mysql_password
DB_DATABASE=demo
DB_SYNCHRONIZE=false
DB_LOGGING=false

# MongoDB 配置
DB_MONGODB_HOST=localhost
DB_MONGODB_PORT=27017
# DB_MONGODB_USERNAME=
# DB_MONGODB_PASSWORD=
DB_MONGODB_DATABASE=demo

# RabbitMQ 配置
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_VHOST=test

# OSS 配置
OSS_BUCKET_NAME=mix-web-demo
OSS_ENDPOINT=oss-cn-guangzhou.aliyuncs.com
OSS_ACCESS_KEY_ID=your_oss_access_key_id
OSS_ACCESS_KEY_SECRET=your_oss_access_key_secret

# 文件配置
FILES_WORD_PATH=../static/word
FILES_UPLOAD_PATH=../static/upload

# 日志配置
LOGS_PATH=../logs/nestjs

# 内部服务令牌配置
INTERNAL_TOKEN_SECRET=your_internal_token_secret
INTERNAL_TOKEN_EXPIRATION=60000
