---
# ConfigMap - Gin 应用配置
apiVersion: v1
kind: ConfigMap
metadata:
  name: gin-config
  namespace: mix-web-demo
data:
  application.yaml: |
    server:
      ip: 0.0.0.0
      port: 8081
    nacos:
      server_addresses: "nacos:8848"
      namespace: "public"
      service_name: "gin"
      group_name: "DEFAULT_GROUP"
    database:
      mysql:
        host: "mysql"
        port: 3306
        database: "demo"
        user: "root"
        password: "csc20040312"
      mongodb:
        host: "mongodb"
        port: 27017
        database: "demo"

---
# ConfigMap - NestJS 应用配置
apiVersion: v1
kind: ConfigMap
metadata:
  name: nestjs-config
  namespace: mix-web-demo
data:
  application.yaml: |
    server:
      ip: 0.0.0.0
      port: 8082
    nacos:
      server_addresses: "nacos:8848"
      namespace: "public"
      service_name: "nestjs"
      group_name: "DEFAULT_GROUP"
    database:
      mysql:
        host: "mysql"
        port: 3306
        database: "demo"
        user: "root"
        password: "csc20040312"
      mongodb:
        host: "mongodb"
        port: 27017
        database: "demo"

---
# ConfigMap - Spring 应用配置
apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
  namespace: mix-web-demo
data:
  application.yaml: |
    server:
      port: 8083
    spring:
      application:
        name: spring
      datasource:
        url: jdbc:mysql://mysql:3306/demo
        username: root
        password: csc20040312
      data:
        mongodb:
          uri: mongodb://root:123456@mongodb:27017/demo
    nacos:
      discovery:
        server-addr: nacos:8848
        namespace: public

---
# ConfigMap - Spring Gateway 配置
apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
  namespace: mix-web-demo
data:
  application.yaml: |
    server:
      port: 9000
    spring:
      application:
        name: gateway
    nacos:
      discovery:
        server-addr: nacos:8848
        namespace: public

---
# ConfigMap - FastAPI 应用配置
apiVersion: v1
kind: ConfigMap
metadata:
  name: fastapi-config
  namespace: mix-web-demo
data:
  application.yaml: |
    server:
      ip: 0.0.0.0
      port: 8084
      reload: false
    nacos:
      server_addresses: "nacos:8848"
      namespace: "public"
      service_name: "fastapi"
      group_name: "DEFAULT_GROUP"
    database:
      mysql:
        host: "mysql"
        port: 3306
        database: "demo"
        user: "root"
        password: "csc20040312"
      mongodb:
        host: "mongodb"
        port: 27017
        database: "demo"
